{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
$(document).ready(function(){
    $('a.deleteemployee').each(function() {
      $(this).click(function(e){
        e.preventDefault();
        var username = $(this).attr('data-employee-username');
        $.ajax({
          url: '/employee',
          type: 'DELETE',
          data: 'username=' + username,
          success: function(data) {
            $('#line-' + username).fadeOut('slow', function() {
              $('a[data-employee-username=' + username + ']').remove();
            });
          },
          error: function(err) {
            alert(err.responseText);
          }
        });
      });
   });
});
</script>
{% endblock %}

{% block content %}
<div class="left">
    <form id="search-form" method="get" action="">
        Search: <input type="text" name="q" value="{{ q }}" />
    </form>
</div>
<div class="right">
  {% if user.username=='admin' %}
  <a href="/audit">view audit log</a>
  {% endif %}
</div>
<div class="clear"></div>
<div id="employees-dashboard-list">
{% if employees.length > 0  || page > 1 %}
  <table>
      <thead>
          <tr>
              <td>Username</td>
              <td>First Name</td>
              <td>Last Name</td>
              <td>Email</td>
              <td>Options</td>
          </tr>
      </thead>   
      <tbody>
          {% for employee in employees %}
          <tr id="line-{{ employee.username }}">
              <td>{{ employee.username }}</td>
              <td>{{ employee.firstname }}</td>
              <td>{{ employee.lastname }}</td>
              <td>{{ employee.email }}</td>
              <td><a href="/profile/edit/{{ employee.username }}">edit</a> | <a href="javascript:;" class="deleteemployee" data-employee-username="{{ employee.username }}">delete</a></td>
          <tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="paginator">
  {% if q %}
  {% set query = '?q='+q+'&' %}
  {% else %}
  {% set query = '?' %}
  {% endif %}
      {% if page>1 %}<a href="{{ query }}page={{ page-1 }}" title="previous page">&#8656;</a>{% endif %}
      {{ page }}
      {% if !hidenext %}<a href="{{ query }}page={{ page+1 }}" title="next page">&#8658;</a>{% endif %}
  </div>
{% else %}
    No data was found{% if q %} with the these search terms <a href="/dashboard">click here to reset search terms</a>{% endif %}
{% endif %}
</div>

{% endblock %}
